header {
    background-color: black;
    color: aliceblue;
    text-align: center;

}
main {
    background-color: lightgray;

}
body {
    background-image: url(/assignment/record.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 1em;
}
