.header {
    background-color: black;
    color: aliceblue;
    text-align: center;

}
#main {
    background-color: lightgray;
    padding: 1em;

}
body {
    background-image: url("./images/record.png");
    background-repeat:repeat;
    background-position: center;
    margin: 0;
}
